* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ======================== NAVBAR ======================== */
.navbar {
  background: #3a1f04;
  color: white;
  padding: 35px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: #8b5a2b;
}
